$orange: #fe8600;
$waterblue: #01ffff;
$yellowgreen: #00E100;
$yellow: #f9ff03;
$red: #fc041a;
$purple: #ff00fe;
$blue: #1e80FF;
$white: #ffffff;
$gray: #1e1e1e;
$black: #000000;

body {
    margin: 0;
}
#container {
}