<!DOCTYPE html>
html
    head
      meta(http-equiv='content-type',content='text/html charset=utf-8')
      meta(description='tetoris pug/scss animationページです')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
      title html game animation pug/scss animation
      link(href='style.css', type='text/css', rel='stylesheet')
    body
      #container
        .l-game-box
          .m-game-box-left
            .c-score-wrap
              .c-title Score
              .c-score-wrap-inner
                .c-score-data
                  span.c-score-data-inner 1507
            .c-rank-wrap
              .c-title Rank
              .c-rank-wrap-inner
                .c-rank.c-ranl1
                  span.c-rank-num1
                    img(src="/images/no_1.svg" alt="No.1" width="30")
                  span.c-rank-score 1988
                .c-rank.c-ranl2
                  span.c-rank-num2
                    img(src="/images/no_2.svg" alt="No.2" width="30")
                  span.c-rank-score 1376
                .c-rank.c-ranl3
                  span.c-rank-num3
                    img(src="/images/no_3.svg" alt="No.3" width="30")
                  span.c-rank-score 0235
          .m-game-box-center
          .m-game-box-right
            .c-next-wrap
              .c-title Next
              .c-next-wrap-inner
            .c-rings-wrap
              .c-title Rings
              .c-rings-wrap-inner
                img(src="/images/go.svg" alt="Go" width="40")
                img(src="/images/py.svg" alt="Phython" width="40")
                img(src="/images/pug.svg" alt="Pug" width="40")
                img(src="/images/ts.svg" alt="TypeScript" width="40")
                img(src="/images/js.svg" alt="JavaScript" width="40")
                img(src="/images/css.svg" alt="CSS" width="40")
                img(src="/images/html.svg" alt="HTML" width="40")