<!DOCTYPE html>
html
  head
    meta(http-equiv='content-type',content='text/html charset=utf-8')
    meta(description='HTML Game Pug/SCSS animation')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title HTML Game Pug/SCSS animation
    link(href='style.css', type='text/css', rel='stylesheet')
  body
    #container
      .l-game-box
        .m-game-box-left
          .c-score-wrap
            .c-title Score
            .c-score-wrap-inner
              .c-score-data
                .c-score-data-inner.c-score-data-inner-1 0
                .c-score-data-inner.c-score-data-inner-2 50
                .c-score-data-inner.c-score-data-inner-3 120
                .c-score-data-inner.c-score-data-inner-4 250
                .c-score-data-inner.c-score-data-inner-5 420
                .c-score-data-inner.c-score-data-inner-6 820
                .c-score-data-inner.c-score-data-inner-7 870
                .c-score-data-inner.c-score-data-inner-8 1280
                .c-score-data-inner.c-score-data-inner-9 1330
                .c-score-data-inner.c-score-data-inner-10 1380
                .c-score-data-inner.c-score-data-inner-11 1930
                .c-score-data-inner.c-score-data-inner-12 2670
          .c-rank-wrap
            .c-title Rank
            .c-rank-wrap-inner
              .c-rank-component.c-rank1
                span.c-rank-num1
                  img(src="https://htmlgame-animation.vercel.app/images/no_1.svg" alt="Rank No.1" width="30")
                span.c-rank-score 1988
              .c-rank-component.c-rank2
                span.c-rank-num2
                  img(src="https://htmlgame-animation.vercel.app/images/no_2.svg" alt="Rank No.2" width="30")
                span.c-rank-score 1376
              .c-rank-component.c-rank3
                span.c-rank-num3
                  img(src="https://htmlgame-animation.vercel.app/images/no_3.svg" alt="Rank No.3" width="30")
                span.c-rank-score 1235
        .m-game-box-center
          .c-box-wrap
            .c-box-wrap-bg
              span.c-box-anime.c-box-anime1
                img(src="https://htmlgame-animation.vercel.app/images/go.svg" alt="Go" width="40" class="c-box-images c-box-images-anime1")
              span.c-box-anime.c-box-anime2
                img(src="https://htmlgame-animation.vercel.app/images/go.svg" alt="Go" width="40" class="c-box-images c-box-images-anime2")
              span.c-box-anime.c-box-anime3
                img(src="https://htmlgame-animation.vercel.app/images/py.svg" alt="Phython" width="60" class="c-box-images c-box-images-anime3")
              span.c-box-anime.c-box-anime4
                img(src="https://htmlgame-animation.vercel.app/images/py.svg" alt="Phython" width="60" class="c-box-images c-box-images-anime4")
              span.c-box-anime.c-box-anime5
                img(src="https://htmlgame-animation.vercel.app/images/pug.svg" alt="Pug" width="80" class="c-box-images c-box-images-anime5")
              span.c-box-anime.c-box-anime6
                img(src="https://htmlgame-animation.vercel.app/images/pug.svg" alt="Pug" width="80" class="c-box-images c-box-images-anime6")
              span.c-box-anime.c-box-anime7
                img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="120" class="c-box-images c-box-images-anime7")
              span.c-box-anime.c-box-anime8
                img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="120" class="c-box-images c-box-images-anime8")
              span.c-box-anime.c-box-anime9
                img(src="https://htmlgame-animation.vercel.app/images/js.svg" alt="JavaScript" width="160" class="c-box-images c-box-images-anime9 c-box-rotate")
              span.c-box-anime.c-box-anime10
                img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="120" class="c-box-images c-box-images-anime10") 
              span.c-box-anime.c-box-anime11
                img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="120" class="c-box-images c-box-images-anime11") 
              span.c-box-anime.c-box-anime12
                img(src="https://htmlgame-animation.vercel.app/images/css.svg" alt="CSS" width="200" class="c-box-images c-box-images-anime12 c-box-rotate2")
              span.c-box-anime.c-box-anime13
                img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="120" class="c-box-images c-box-images-anime13") 
              span.c-box-anime.c-box-anime14
                img(src="https://htmlgame-animation.vercel.app/images/js.svg" alt="JavaScript" width="160" class="c-box-images c-box-images-anime14")
              span.c-box-anime.c-box-anime15
                img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="120" class="c-box-images c-box-images-anime15") 
              span.c-box-anime.c-box-anime16
                img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="120" class="c-box-images c-box-images-anime16") 
              span.c-box-anime.c-box-anime17
                img(src="https://htmlgame-animation.vercel.app/images/html.svg" alt="HTML" width="240" class="c-box-images c-box-images-anime17 c-box-rotate") 
        .m-game-box-right
          .c-next-wrap
            .c-title Next
            .c-next-wrap-inner
              span.c-next-anime.c-next-anime1
                img(src="https://htmlgame-animation.vercel.app/images/go.svg" alt="Go" width="40" class="c-next-images")
              span.c-next-anime.c-next-anime2
                img(src="https://htmlgame-animation.vercel.app/images/py.svg" alt="Phython" width="60" class="c-next-images")
              span.c-next-anime.c-next-anime3
                img(src="https://htmlgame-animation.vercel.app/images/pug.svg" alt="Pug" width="80" class="c-next-images")
              span.c-next-anime.c-next-anime4
                img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="120" class="c-next-images")
              span.c-next-anime.c-next-anime5
                img(src="https://htmlgame-animation.vercel.app/images/js.svg" alt="JavaScript" width="160" class="c-next-images")
          .c-rings-wrap
            .c-title Rings
            .c-rings-wrap-inner
              img(src="https://htmlgame-animation.vercel.app/images/go.svg" alt="Go" width="40" class="c-rings-images-inner")
              img(src="https://htmlgame-animation.vercel.app/images/py.svg" alt="Phython" width="40" class="c-rings-images-inner")
              img(src="https://htmlgame-animation.vercel.app/images/pug.svg" alt="Pug" width="40" class="c-rings-images-inner")
              img(src="https://htmlgame-animation.vercel.app/images/ts.svg" alt="TypeScript" width="40" class="c-rings-images-inner")
              img(src="https://htmlgame-animation.vercel.app/images/js.svg" alt="JavaScript" width="40" class="c-rings-images-inner")
              img(src="https://htmlgame-animation.vercel.app/images/css.svg" alt="CSS" width="40" class="c-rings-images-inner")
              img(src="https://htmlgame-animation.vercel.app/images/html.svg" alt="HTML" width="40" class="c-rings-images-inner")