$purple: #D7D3E7;
$purple2: #8E97E9;
$white: #FFFFFF;

@mixin fontSet {
  font-size: 30px;
  line-height: 30px;
  position: relative;
  z-index: 20;
}
@mixin wrap {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
@mixin wrap-inner {
  width: 220px;
  height: 220px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: relative;
  margin: -20px auto 20px;
}
@mixin circlebg {
  content: '';
  background: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .5;  
}
@mixin boxbg {
  content: '';
  background: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .5;  
}
@mixin anime {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
html, body {
  margin: 0;
  background-color: $purple;
  height: 100%;
}
#container {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100%;
}
.l-game-box {
  width: 1200px;
  border: 15px solid $purple2;
  box-sizing: border-box;
  background-color: $purple;
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 27% 44% 29%;
}
.c-title {
  @include fontSet;
}
.m-game-box-left,
.m-game-box-center,
.m-game-box-right {
  place-content: center;
  display: grid;
}
.m-game-box-center {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 20px;
}
.c-score {
  &-wrap {
    @include wrap;
  }
  &-data {
    @include wrap-inner;
    &:after {
      @include circlebg;
    }
  }
  &-data-inner {
    z-index: 2;
    @include fontSet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  &-data-inner-1 {
  	visibility: visible;
  }
}
.c-rank {
  &-wrap {
    text-align: center;
    position: relative;
  }
  &-wrap-inner {
    @include wrap-inner;
    width: 290px;
    height: 280px;
    grid-auto-columns: 85%;
    &:after {
      @include boxbg;
    }
  }
  &-component {
    z-index: 20;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 50px;
    align-items: center;
    border-radius: 25px;
    padding: 0 30px;
    &.c-rank1 {
      background: #FFD9CF;
    }
    &.c-rank2 {
      background: #BCD0DE;
    }
    &.c-rank3 {
      background: #F8E3C1;
    }
  }
  &-num1, &-num2, &-num3 {
    display: block;
    font-size: 0;
    margin: 4px 0 0;
    img {
      vertical-align: middle;
    }
  }
  &-score {
    @include fontSet;
    margin-left: -25px;
  }
}
.c-box {
  &-wrap {
    position: relative;
  }
  &-wrap-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    z-index: 1;
    opacity: .5; 
  }
  &-anime {
    visibility: hidden;
    position: absolute;
    font-size: 0;
    transform: translate(0, -100%) scale(1, 1);
  }
  &-anime1 {
    animation: anime1 4.7s ease-in-out infinite;
    left: 40%;
    @include anime;
  }
  &-anime2 {
    animation: anime2 2s ease-in-out infinite 2.7s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 40%;
    @include anime;
  }
  &-anime3 {
    animation: anime3 2s ease-in-out infinite 4.7s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 45%;
    @include anime;
  }
  &-anime4 {
    animation: anime4 2s ease-in-out infinite 4.9s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 45%;
    @include anime;
  }
  &-anime5 {
    animation: anime5 3.3s ease-in-out infinite 6.7s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 45%;
    @include anime;
  }
  &-anime6 {
    animation: anime6 3.2s ease-in-out infinite 6.8s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 25%;
    @include anime;
  }  
  &-anime7 {
    animation: anime7 1.7s ease-in-out infinite 10s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 45%;
    @include anime;
  }
  &-anime8 {
    animation: anime8 1.8s ease-in-out infinite 10.1s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 45%;
    @include anime;
  }
  &-anime9 {
    animation: anime9 4.9s ease-in-out infinite 11.7s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 45%;
    @include anime;
  }
  &-anime10 {
    animation: anime10 4.9s ease-in-out infinite 11.8s;
    transform: translate(0, 0%) scale(1, 1) rotate(-30deg);
    left: 5%;
    @include anime;
  }
  &-anime11 {
    animation: anime11 1.8s ease-in-out infinite 15.0s;
    transform: translate(0, 0%) scale(1, 1) rotate(-10deg);
    left: 6%;
    @include anime;
  }
  &-anime12 {
    animation: anime12 1.7s ease-in-out infinite 16.7s;
    transform: translate(0, 0%) scale(1, 1) rotate(-10deg);
    left: 15%;
    @include anime;
  }  
}
@keyframes anime1 {
  0% { top: 0%; left: 40%; visibility: hidden; transform: translate(0, 0%) scale(1, 1);}
  1% { top: 0%; left: 40%; visibility: visible; transform: translate(0, -1%) scale(1, 1);}
  38% { top: 100%; left: 40%; visibility: visible; transform: translate(0, -100%) scale(1, 1);} 
  40% { top: 100%; left: 40%; visibility: visible; transform: translate(0, -100%) scale(1.2, 0.8);}
  42% { top: 100%; left: 40%; visibility: visible; transform: translate(0, -100%) scale(1, 1);}
  50% { top: 99.5%; left: 40%; visibility: visible; transform: translate(0, -99.5%) scale(1, 1);}
  52% { top: 100%; left: 40%; visibility: visible; transform: translate(0, -100%) scale(1, 1);}
  70% { top: 100%; left: 43%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(30deg);}
  100% { top: 100%; left: 43%; visibility: hidden; transform: translate(0, -100%) scale(1, 1) rotate(30deg);}
}
@keyframes anime2 {
  0% { top: 0%; left: 48%; visibility: hidden; transform: translate(0, 0%) scale(1, 1) rotate(-30deg);}
  1% { top: 0%; left: 48%; visibility: visible; transform: translate(0, -1%) scale(1, 1) rotate(-30deg);}
  99% { top: calc(100% - 18px); left: 48%; visibility: visible; transform: translate(0, calc(-100% - 18px)) scale(1, 1) rotate(-30deg);}
  100% { top: calc(100% - 18px); left: 48%; visibility: hidden; transform: translate(0, calc(-100% - 18px)) scale(1, 1) rotate(-30deg);}
}
@keyframes anime3 {
  0% { top: 100%; left: 43%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(60deg);}
  99% { top: 100%; left: 43%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(60deg);}
  100% { top: 100%; left: 43%; visibility: hidden; transform: translate(0, -100%) scale(1, 1) rotate(60deg);}
}
@keyframes anime4 {
  0% { top: 0%; left: 45%; visibility: hidden; transform: translate(0, 0%) scale(1, 1) rotate(-30deg);}
  1% { top: 0%; left: 45%; visibility: visible; transform: translate(0, -1%) scale(1, 1) rotate(-30deg);}
  89% { top: calc(100% - 28px); left: 45%; visibility: visible; transform: translate(0, calc(-100% - 28px)) scale(1, 1) rotate(-30deg);}
  90%, 100% { top: calc(100% - 28px); left: 45%; visibility: hidden; transform: translate(0, calc(-100% - 28px)) scale(1, 1) rotate(-30deg);}
}
@keyframes anime5 {
  0% { top: 100%; left: 45%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(10deg);}
  99% { top: 100%; left: 45%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(10deg);}
  100% { top: 100%; left: 45%; visibility: hidden; transform: translate(0, -100%) scale(1, 1) rotate(10deg);}
}
@keyframes anime6 {
  0% { top: 0%; left: 26%; visibility: hidden; transform: translate(0, 0%) scale(1, 1);}
  1% { top: 0%; left: 26%; visibility: visible; transform: translate(0, -1%) scale(1, 1);}
  68% { top: 100%; left: 26%; visibility: visible; transform: translate(0, -100%) scale(1, 1);} 
  70% { top: 100%; left: 26%; visibility: visible; transform: translate(0, -100%) scale(1.2, 0.8);}
  75% { top: 100%; left: 26%; visibility: visible; transform: translate(0, -100%) scale(1, 1);}
  80% { top: 99.5%; left: 26%; visibility: visible; transform: translate(0, -99.5%) scale(1, 1);}
  85% { top: 100%; left: 26%; visibility: visible; transform: translate(0, -100%) scale(1, 1);}
  100% { top: 100%; left: 28%; visibility: hidden; transform: translate(0, -100%) scale(1, 1) rotate(20deg);}
}
@keyframes anime7 {
  0% { top: 100%; left: 35%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
  99% { top: 100%; left: 35%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
  100% { top: 100%; left: 35%; visibility: hidden; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
}
@keyframes anime8 {
  0% { top: 0%; left: 45%; visibility: hidden; transform: translate(0, 0%) scale(1, 1) rotate(-30deg);}
  1% { top: 0%; left: 45%; visibility: visible; transform: translate(0, -1%) scale(1, 1) rotate(-30deg);}
  89% { top: calc(100% - 55px); left: 45%; visibility: visible; transform: translate(0, calc(-100% - 55px)) scale(1, 1) rotate(-30deg);}
  90%, 100% { top: calc(100% - 55px); left: 45%; visibility: hidden; transform: translate(0, calc(-100% - 55px)) scale(1, 1) rotate(-30deg);}
}
@keyframes anime9 {
  0% { top: 100%; left: 35%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
  99% { top: 100%; left: 35%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
  100% { top: 100%; left: 35%; visibility: hidden; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
}
@keyframes anime10 {
  0% { top: 0%; left: 5%; visibility: hidden; transform: translate(0, 0%) scale(1, 1);}
  1% { top: 0%; left: 5%; visibility: visible; transform: translate(0, -1%) scale(1, 1);}
  45.3% { top: 100%; left: 5%; visibility: visible; transform: translate(0, -100%) scale(1, 1);} 
  46.2% { top: 100%; left: 5%; visibility: visible; transform: translate(0, -100%) scale(1.2, 0.8);}
  49.5% { top: 100%; left: 5%; visibility: visible; transform: translate(0, -100%) scale(1, 1);}
  52.8% { top: 99.5%; left: 5%; visibility: visible; transform: translate(0, -99.5%) scale(1, 1);}
  56.1% { top: 100%; left: 5%; visibility: visible; transform: translate(0, -100%) scale(1, 1);}
  66.6% { top: 100%; left: 8%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(15deg);}  
  99% { top: 100%; left: 8%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(15deg);}
  100% { top: 100%; left: 8%; visibility: hidden; transform: translate(0, -100%) scale(1, 1) rotate(15deg);}
}
@keyframes anime11 {
  0% { top: 0%; left: 5%; visibility: hidden; transform: translate(0, 0%) scale(1, 1) rotate(-30deg);}
  1% { top: 0%; left: 5%; visibility: visible; transform: translate(0, -1%) scale(1, 1) rotate(-30deg);}
  89% { top: calc(100% - 58px); left: 5%; visibility: visible; transform: translate(0, calc(-100% - 58px)) scale(1, 1) rotate(-30deg);}
  90%, 100% { top: calc(100% - 58px); left: 5%; visibility: hidden; transform: translate(0, calc(-100% - 58px)) scale(1, 1) rotate(-30deg);}
}
@keyframes anime12 {
  0% { top: 100%; left: 15%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
  99% { top: 100%; left: 15%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
  100% { top: 100%; left: 15%; visibility: visible; transform: translate(0, -100%) scale(1, 1) rotate(-10deg);}
}
.c-next {
  &-wrap {
    @include wrap;
  }
  &-wrap-inner {
    @include wrap-inner;
    &:after {
      @include circlebg;
    }
  }
  &-anime {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 10;
  	visibility: hidden;
  	&.c-next-anime1 {
  	  visibility: visible;
  	}
  }
  &-images {
    z-index: 10;
    position: relative;
  }
}
.c-rings {
  &-wrap {
    @include wrap;
  }
  &-wrap-inner {
    @include wrap-inner;
    width: 310px;
    height: 310px;
    &:after {
      @include circlebg;
    }
    &:before {
      content: '';
      background: $purple;
      width: 65%;
      height: 65%;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      opacity: 1;
    }
  }
  &-images {
    z-index: 10;
    position: absolute;
    &:nth-child(1) {
      right: 50px;
      top: 40px;
    }
    &:nth-child(2) {
      right: 7px;
      top: 130px;  
    }
    &:nth-child(3) {
      right: 40px;
      top: 220px;
    }
    &:nth-child(4) {
      right: 137px;
      top: 265px;
    }
    &:nth-child(5) {
      right: 230px;
      top: 220px;
    }
    &:nth-child(6) {
      right: 262px;
      top: 130px;
    }
    &:nth-child(7) {
      right: 220px;
      top: 40px;
    }
  }
}
