$purple: #D7D3E7;
$purple2: #8E97E9;

html, body {
  margin: 0;
  background-color: $purple;
  height: 100%;
}
#container {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100%;
}
.l-game-box {
  width: 1200px;
  border: 15px solid $purple2;
  box-sizing: border-box;
  background-color: $purple;
  padding: 15px;
}